
.container {
    margin:auto;
    width: 85%;
    }
.center{
    text-align: center;
}
body{
    background-color: ghostwhite;
}
.auth-link{
    color:white!important;
    text-decoration: none!important;
    background-color: green;
    padding: 5px 10px 5px 10px;
}
form{
    margin:auto;
    width: 300px;
}
table{
    
    text-align: center;
}
th{
    text-align: center;
}
h3 {
    text-decoration: underline;
    font-size: 2em;
    font-weight: bolder;
    text-align: center;
    text-decoration-color: green;
}